[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "cscope_maps"]
	path = cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/SrcExpl"]
	path = bundle/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
